@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Open Sans", sans-serif;
}

.p-inputtext,
.p-button,
.p-dropdown,
.p-multiselect,
.p-calendar,
.p-password,
.p-inputtextarea {
  /* border-radius: 0 !important; */
  box-shadow: none !important;
}

.p-inputtext:focus,
.p-button,
.p-dropdown:focus,
.p-multiselect:focus,
.p-calendar:focus,
.p-password:focus,
.p-inputtextarea:focus {
  outline: none !important;
  box-shadow: none !important;
}

.p-toolbar {
  padding: 0.5rem 1.25rem;
}

.p-sidebar .p-sidebar-header {
  padding: 10px 1rem;
}

.p-inputtext.p-chips-multiple-container {
  width: 100%;
}


.p-password .p-input-icon svg {
  margin-top: -10px;
}

.p-icon-field.p-icon-field-right {
  width: 100%;
}