@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Open Sans", sans-serif;
}

.p-inputtext,
.p-button,
.p-dropdown,
.p-multiselect,
.p-calendar,
.p-password,
.p-inputtextarea {
  /* border-radius: 0 !important; */
  box-shadow: none !important;
}

.p-inputtext:focus,
.p-button,
.p-dropdown:focus,
.p-multiselect:focus,
.p-calendar:focus,
.p-password:focus,
.p-inputtextarea:focus {
  outline: none !important;
  box-shadow: none !important;
}
